* {
    margin: 0;
    padding: 0;
}

:root{
    --corbackgroundmain: hsl(233, 47%, 7%);
    --corcardbackground: hsl(244, 38%, 16%);
    --coraccent:hsl(277, 64%, 61%);
    --fonte0:'Inter', sans-serif;
}

body{
    font-size: 14px;
    background-color:var(--corbackgroundmain) ;
}

.container{
    width: 1000px;
    margin: auto;
    padding: 0;
    margin-top: 200px;
    margin-bottom: 200px;
    font-family: 'Inter',sans-serif;
}

.card{
    background-color: var(--corcardbackground);
    display: flex;
    border-radius: 10px;
}

.block{
    color: rgb(177, 177, 177);
    height: 500px;
}