@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400&display=swap');

:root {
    --corbackgroundmain: hsl(233, 47%, 7%);
    --corcardbackground: hsl(244, 38%, 16%);
    --coraccent:hsl(277, 64%, 61%);
    --fonte0:'Inter', sans-serif;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


body{
    background-color: var(--corbackgroundmain);
    color: white;
    width: 1440px;
    font-family: var(--fonte0);
    font-size: 15px;
}

.container {
    border: 1px;
    background-color: var(--corcardbackground);
    width: 400px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.right {
    background-color: hsla(277, 64%, 61%, 0.589);
    width: 400px;
    height: 300px;
    position: relative;
    margin-left: auto;
    margin-right: 440px;
    margin-top: -300px;
}

h1{ 
    padding: 50px;
    font-size: 25px;
}

.mid{
    font-size: 15px;
    text-align: center;
}

.l{
    font-size: 15px;
    position:relative;
    bottom:30px;
    right:-50px;
}

.r{
    font-size: 15px;
    position:relative;
    bottom:62px;
    right:-300px;
}


b{
    color: var(--coraccent);
}

p{
    padding-left: 50px;
    
    font-size: 13px;
    margin-right:10px;
    color: rgb(156, 156, 156);
    position: relative;
    top: -50px;
}

