@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-size: 16px;
    text-decoration: none;
    font-family: 'Red Hat Display', sans-serif;
    
}

body{
    width: auto;
    height: auto;
    background-image: url(images/pattern-background-desktop.svg);
    background-color:hsl(225, 100%, 94%) ;
    background-repeat: no-repeat;
    display: block;
    
}

section{
    display: block;
    width:400px;
    height: 550px;
    background-color: hsl(0, 0%, 100%);
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 50px;
    box-shadow: -1px 0px 20px 0px rgba(131, 139, 255, 0.555);
    border-radius: 20px;
}

.d{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    overflow: hidden;
}

.conteudo{
   color: black;
   text-align: center;
   padding: 10px;
   margin-top: 15px;
   margin: 0px 30px;
   
}

p{
    font-weight: normal;
    color: grey;
}
 
h1{
    font-size: 1.8rem;
    padding: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.annual{
    height: 60px;
    background-color: hsl(227, 39%, 95%);
    border-radius: 10px;
    margin: 10px;
    display:flex;
    padding: 5px;
   text-align: center;
   align-items: center;
   
}

.annual a{
    position: relative;
    right: 15px;
    text-decoration: underline;
    color: hsl(224, 23%, 55%);
    font-weight: 700;
}

.annual a:hover{
    text-decoration: none;
    
}

h5{
    position: relative;
    top: -10px;
    right: 10px;
}

.annual p{  
    position: relative;
    top: 15px;
    right: 80px;
    
}

.annual img{
    padding: 10px;
}

.change{
    
}

.payment {
    flex-direction: column;
    align-items: center;
    margin-top:40px;
    
}

.payment a{
    display: block;
    padding: 10px;
    font-weight: 700;
    
}

.pro{
    color: rgb(255, 255, 255);
    background-color: #1E1FCD;
    border-radius: 10px;
    box-shadow: -1px 6px 17px 0px rgba(53, 53, 53, 0.596);
}

.pro:hover{
    background-color: hsl(258, 23%, 55%);
    box-shadow: -1px 6px 17px 0px #1e1ecd96;
}

.cancel{
    color: grey;
    width: 100px;
    margin: auto;
}

.cancel:hover{
    color: black;
}